<h1>Superheros!</h1>

<h2>List of Superheros</h2>
<ul>
<% @superheros.each do |hero| %>
	<li><%= link_to hero.name, superhero_path(hero.id) %> | <%= link_to "Edit", edit_superhero_path(hero.id) %> | <%= link_to "Delete", hero, :method => :delete %></li>
<% end %>
</ul>

<h3><%= link_to "Add new superhero!", new_superhero_path %></h3>